.sidebarSection {
    flex: 3;
    padding: 2rem;
    background-color: var(--bg_color);
}


/* sidebar about me start */
.sidebarItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.sidebarTitleHeight {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.sidebarTitleBorder {
    width: 90%;
    background-color: rgba(0, 0, 0, .3);
    height: .09rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebarTitle {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: capitalize;
    background-color: #fff;
    padding: .5rem 2rem;
    border-radius: .7rem;
    border: .1rem solid rgba(0, 0, 0, .3);
}



.sidebarImg {
    width: 25rem;
    height: 20rem;
    border-radius: 1.5rem;
    object-fit: cover;
    margin: 2rem 0;
}


.sidebarDesc {
    font-size: 1.6rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
    line-height: 2.4rem;
    margin-bottom: 3rem;
}

/* sidebar about me end */


/* sidebar categories start  */
.sidebarCategories {
    margin: 1rem 0 7rem 0;
}
.sidebarCategoriesItem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sidebarCategoriesItem a {
    padding: .5rem 1rem;
    background-color: #fff;
    color: #2980b9;
    margin: .5rem 0 0 .5rem;
    border-radius: .7rem;
    font-size: 1.4rem;
    text-transform: capitalize;
}
 /* sidebar categories end  */



 /* sidebar follow start */
 .socialList {
    margin-top: 1rem;
 }

 .socialList a i {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    margin-left: 1rem;
    border-radius: 50%;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, .2);
    transition: all .4s ease;
}
.socialList a i:hover {
    box-shadow: 2px 6px 8px rgba(0, 0, 0, .3);
    transform: scale(1.07) translateY(-3px);
}
.socialList a .facebook {
    background-color: #4064AC;
    color: #fff;
}
.socialList a .instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: #fff;
}
/* .socialList a .instagram {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    color: #fff;
} */
.socialList a .twitter {
    background-color: #1C9CEA;
    color: #fff;
}
 /* sidebar follow end */















@media only screen and (max-width: 991.99px) {
    .sidebarSection {
        flex: 3;
    }
}