* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Baloo Bhaijaan 2', cursive; */
}

:root {
  --bg_color: #f7f7f7;
  --primary_color: #3498db;
  --text_color: #444444;
  --main_text_color: #000;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

h1, h2, h3, h5, h6 {
  color: var(--main-text-color);
}
p {
  color: var(--text-color);
}


@media only screen and (max-width: 991.99px) {}